<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TheNeeds 5 Responsive Templates</title>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--CUSTOM CSS-->
<link href="/css/custom.css" rel="stylesheet" type="text/css">
<!--BOOTSTRAP CSS-->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<!--COLOR CSS-->
<link href="/css/color.css" rel="stylesheet" type="text/css">
<!--RESPONSIVE CSS-->
<link href="/css/responsive.css" rel="stylesheet" type="text/css">
<!--OWL CAROUSEL CSS-->
<link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">
<!--Fontawesome CSS-->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--Annimation CSS-->
<link href="/css/animate.css" rel="stylesheet" type="text/css">
<!--SVG CSS-->
<link href="/css/svg.css" rel="stylesheet" type="text/css">
<!--Bxslider CSS-->
<link href="/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<!--FAVICON ICON-->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
<!--WRAPPER START-->
<div id="wrapper"> 
  <!--HEADER START-->
  <%- include('header') %>
  <!--HEADER END--> 
  
  <!--INNER BANNER START-->
  <div id="inner-banner">
   
  </div>
  <!--INNER BANNER END--> 
  
  <!--MAIN START-->
  <div id="main"> 

    <!-- CAUSES STYLE 1 START-->
    <section class="causes-style-1 causes-detail news-grid">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <div class="box">
              <div class="frame"><a href="#"><img src="<%= projectDetails.img  %>" alt="img"></a></div>
              <div class="text-box">
                <div class="causes-goal-box">
                  <ul>
                    <li> <span class="title">Goal:</span> <strong class="amount"><sup>QAR</sup><%= projectDetails.goal  %></strong> </li>
                    <li> <span class="title">Raised:</span> <strong class="amount"><sup>QAR</sup><%= projectDetails.raised  %></strong> </li>
                    <li> <span class="title">investors:</span> <strong class="amount"><%= projectDetails.investors  %> Donors</strong> </li>
                    <li> <span class="title">Time Remain:</span> <strong class="amount"><%= projectDetails.remainingDays  %> Days Left</strong> </li>
                  </ul>
                  <div class="pie-title-center demo-pie-1" data-percent="<%= projectDetails.percent  %>"> <span class="pie-value"></span><b>completed</b> </div>
                </div>
                <a href="#" class="btn-style-1">Inest Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
            </div>
            <div class="style-1">
              <div class="text-box">
                <h3><%= projectDetails.subtitle  %></h3>
                <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i><%= projectDetails.owner  %></a>
                 <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>3<%= projectDetails.date  %></a>
                 <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i><%= projectDetails.address  %></a> </div>
                <p><%= projectDetails.details  %></p>
               
                <blockquote> <%= projectDetails.quote  %> </blockquote>
                <p><%= projectDetails.summary  %></p>
           
                <div class="share-row"> <strong class="title">Share:</strong>
                  <ul>
                   
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                    
                  </ul>
                </div>
             
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <aside>
              <div class="sidebar">
               
                <div class="sidebar-box">
                  <h3>Text Widget</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                </div>
            
            <!-- 
            {
    date : "FEB, 2016",
    title : "Open your Helping Hands for those who are Needy",
    owner : "Smith Alvin",
    startTime: "10:00 am",
    endTime : "05:00 pm",
    location : "874 South Building, New York",
    description : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ..." 
}
            
            -->
                <div class="sidebar-box">
                  <h3>Upcoming Events</h3>
                  <div class="upcoming-event-widget">
                    <ul>
                      <% for(var i=0; i< projectDetails.events.length ; i++) { %>
                          <li>
                            <div class="date-box">19 <span><%= projectDetails.events[i].date %></span></div>
                            <div class="text-col"> <a href="#"><%= projectDetails.events[i].title %></a>
                             <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><%= projectDetails.events[i].startTime %> - <%= projectDetails.events[i].endTime %></span> </div>
                          </li>
                      <% } %>
                     </ul>
                  </div>
                </div>
                <div class="sidebar-box">
                  <h3>Invest Now</h3>
                  <div class="sidebar-donation-box">
                    <a href="#" class="btn-style-1">Invest Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!--CAUSES STYLE 1 END--> 
  </div>
  <!--MAIN END--> 
  
  <!--FOOTER START-->
  <%- include('footer') %>
  <!--FOOTER END--> 
</div>
<!--WRAPPER END--> 

<!--jQuery min--> 
<script src="/js/jquery.js"></script> 
<!--BOOTSTRAP JS--> 
<script src="/js/bootstrap.min.js"></script> 
<!--OWL CAROUSEL JS--> 
<script src="/js/owl.carousel.min.js"></script> 
<!--progress JS--> 
<script src="/js/pie-chart.js"></script> 
<!--EVENT TIMER--> 
<script src="/js/jquery.plugin.js"></script> 
<script src="/js/jquery.countdown.js"></script> 
<!--Bxslider JS--> 
<script src="/js/jquery.bxslider.min.js"></script> 
<!--Filter Js--> 
<script src="/js/sorting.js"></script> 
<script src="/js/jquery.isotope.js"></script> 
<!--CUSTOM js--> 
<script src="/js/custom.js"></script>
</body>
</html>
